<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ArtByChel | Welcome</title>
    <meta name="description" content="Mind capturing designs by ArtByChel">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary shadow" id="mainNav" style="background-color: rgb(237,201,44);">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top" style="color: rgb(0,0,0);font-family: 'Open Sans', sans-serif;">ArtByChel</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(0,0,0);"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="font-family: 'Open Sans', sans-serif;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">PORTFOLIO</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">ABOUT</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center">
        {% if messages %}
                    <div style="display: flex; justify-content: center">
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                            {{ message }}
                            <button type="button"  data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
        <div class="container"><img class="img-fluid d-block mx-auto mb-5" src="static/assets/img/chel.png">
            <h1>Rachel Afful</h1>
            <h2 class="font-weight-light mb-0">- Graphic Designer-</h2>
        </div>
    </header>
    <section id="portfolio" class="portfolio">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary" style="font-family: Montserrat, sans-serif;font-style: normal;color: rgb(0,0,0); color: black !important;">Portfolio</h2>
            <hr style="height: 1px;width: 150px;background-color: #000000;margin-top: 29px;margin-bottom: 40px;">
            <div class="row">
                {% if portfolios %}
                    {% for portfolio in portfolios|slice:"0:3" %}
                    <div class="col-md-6 col-lg-4">
                        <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#{{portfolio.slug}}">
                            <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                                <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
                            </div><img class="img-fluid" src="{{portfolio.image}}"></a>
                    </div>
                    {% endfor %}
                    <a href="{% url 'portfolios' %}" >
                        <button  class="btn" style="background-color: rgb(237,201,44); color: white;"> View More &rarr;</button>
                    </a>
                {% else %}
                <div class="container row justify-conten-center">
                    <h5 class="text-center">No Projects to show yet</h5>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section id="about" class="bg-primary text-white mb-0">
        <div class="container">
            <h2 class="text-uppercase text-center text-white">About</h2>
            <hr style="height: 1px;width: 150px;background-color: #ffffff;margin-top: 40px;margin-bottom: 40px;">
            <p class="lead text-center">Hi, I'm Rachel and a Graphic Designer. Contact me for all your artworks</p>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary mb-0">Contact Me</h2>
            <hr style="height: 1px;width: 150px;background-color: #000000;margin-top: 29px;margin-bottom: 40px;">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form action="{% url 'mail' %}" method="POST">
                        {% csrf_token %}
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Name</label><input name="name" class="form-control" type="text" id="name" required="" placeholder="Name"><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Email Address</label><input name="email" class="form-control" type="email" id="email" required="" placeholder="Email Address"><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2"><label>Phone Number</label><input name="phone" class="form-control" type="tel" id="phone" required="" placeholder="Phone Number"><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-5 pb-2"><textarea class="form-control" name="message" id="message" required="" placeholder="Message" rows="5"></textarea><small class="form-text text-danger help-block"></small></div>
                        </div>
                        <div id="success"></div>
                        <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase">Around the Web</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="https://twitter.com/artby_chel/"><i class="fa fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="https://instagram.com/artby_chel/"><i class="fa fa-instagram fa-fw"></i></a></li>
                    </ul>
                    <h6 class="lead">+233 59 411 6442 | +233 55 453 9644</h6>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright ©&nbsp;ArtByChel 2020</small></div>
    </div>
    <div class="d-lg-none scroll-to-top position-fixed rounded"><a class="d-block js-scroll-trigger text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
    {% for portfolio in portfolios|slice:"0:3" %}
    <div class="modal text-center" role="dialog" tabindex="-1" id="{{portfolio.slug}}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">{{portfolio.name}}</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="{{portfolio.image}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="static/assets/js/script.min.js"></script>
</body>

</html>